{{template "base" .}}
{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home</h1>
            <p>This is the best web page ever.</p>
        </div>
    </div>
</div>

{{end}}